ul.badges {
    display: inline-block; //Prevent inner element collapsing
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;

        .badge {
            display: block;
            text-align: center;
            width: 4.5em;
            text-decoration: none;
            color: black;
            margin: 1em;
            margin-right: 0;
        }
    }


    .badge::before{
        box-sizing: border-box;
        display: block;
        content: '';

        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        margin-bottom: 0.3em;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        background-color: #ffffff;

        border-color: rgba(#4e4e4e, 0.5);
        border-style: solid;
        border-width: 2px;
    }

    .badge:hover::before {
        border-color: rgba(#4e4e4e, 1);
    }

    //----Individual badges (these should be specified via HTML in the future)
    .distilled::before {
        background-image: url('/images/distilled-logo.png');
        background-color: #7e7e7e;
    }

    .raise::before {
        background-image: url('/images/raise-logo.png');
    }

    .github::before {
        background-image: url('/images/github-logo.jpg');
    }

    .gitlab:before {
        background-image: url('/images/gitlab-logo.png');
    }

    .patreon:before {
        background-image: url('/images/patreon-logo.png');
        background-color: #f36854;
    }

    .medium:before {
        background-image: url('/images/medium-logo.svg');
        background-color: black;
    }

    .twitter:before {
        background-image: url('/images/twitter-logo.svg');
        background-color: #41a1f2;
    }

    .liberapay:before {
        background-image: url('/images/liberapay-logo.svg');
        background-color: #f6ca15;
    }

    .piglet:before {
        background-image: url('/images/piglet-logo.svg');
        background-color: #b3ff63;
    }

    .reset-hard:before {
        background-image: url('/images/reset-hard-logo.png');
        background-color: #000000;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
    }
}
