@import "styles/fonts.style.scss";

/* ----------- SITEWIDE VARIABLES--------------- */

$max-width: 80rem; // Highest screen width

//Breakpoints
$breakpoint-partial: 65rem;
$breakpoint-mobile: 45rem;

$color-font: #1e1515; // previously #111; - double check on contrast.
$color-background: #fcfcfc;

/* ---------------- Mixins --------------------- */

/*
 * Scale is probably unnecessary here, because setting font-size on its own is
 * sufficient. But leave it for now. Maybe I'll want to do something special in
 * the future.
 */
@mixin font-primary($scale: 1) {
    font-family: 'Heuristica', 'Georgia', serif;
    color: $color-font;

    font-size: $scale * 1.1rem;
    line-height: 1.4; // Already based on font size, so no need to scale.

    font-style: normal;
}

/* ------------ Global Styles ------------------- */

html, body, h1, h2 { //Resets
    margin: 0;
    padding: 0;
}

html {
    background-color: $color-background;
    height: calc(100% - 0.2rem);
    margin: 0.1rem;
    width: calc(100% - 0.2rem);
}

header { // Top navigation
    white-space: nowrap;
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;

    border-style: solid;
    border-color: rgb(45, 45, 45);
    margin: 0.2em;

    * { color: rgb(250, 250, 250);
        text-decoration: none; }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 0.5em;
    }

    nav {
        font-family: 'Heuristica', 'Georgia', serif;

        box-sizing: border-box;
        max-width: 80rem;
        margin: 0 auto;

        ul {

            display: flex;
            flex-direction: row;
            align-items: baseline;
            padding-bottom: 0.75rem;

            .site-logo {

                img { height: 5rem;
                      bottom: -0.75rem;
                      position: relative; }

                .name { font-size: 0;
                        color: rgba(0,0,0,0);
                        max-width: 0; }
            }

            .resume {
                margin-left: auto;
                padding-right: 5em;
            }
        }
    }
}


//TODO: I need to think about how I want to organize these.
//Should size-specific styles be mixed into universal styles at all?
@media only screen and (max-width: $breakpoint-mobile) {
    header nav ul .resume { padding-right: 1em; }
}

main {
    max-width: 80rem;
    margin: 0 auto;
}

/*
 * Hanging quotes:
 *
 * These are fairly font-dependent and may need to be updated in the future.
 * Question -- how can I generalize these so that they're easy to update
 * when used with other fonts?
 *
 * Probably set them as a mixin? Pass in the font somehow?
 */
.quote {
    position: relative;
    color: transparent;
}

.quote:after {
    speak: none;
    pointer-events:none;
    color: #000000;

    display: inline;
    position: relative;
}

.quote.single-open:after { content:'‘';
                           margin-left: -0.3ex; }

.quote.single-close:after { content:'’';
                            margin-left: -0.5ex; }

.quote.double-open:after { content:'“';
                           margin-left: -0.9ex; }

.quote.double-close:after { content:'”';
                            margin-left: -0.9ex; }

.quote.double-open { margin-left: -0.6ex;
                     margin-right: 0.1ex; }

.double-push {
    margin-right: 0.7ex;
    display: inline-block;
}
