@import "styles/base.style.scss";

main {
    max-width: 80rem;
    display: grid;
    grid-template-columns: 14rem auto 16rem;

    article {
        grid-column: 2;
    }

    article nav {
        margin-left: -14rem;
        margin-top: 0.5rem;
        position: fixed;

        /*
         * For JS users: - correctly positions the element at the top of the
         * screen once the main nav is offscreen.
         */
        &.js-unstick { position: absolute; }
        &.js-stick { top: 0;
                     position: fixed; }

        text-align: right;
        width: 11rem;

        padding-right: 1rem;
        border-right-style: solid;
        border-width: 1px;
        border-color: #6e6e6e;

        ul { padding: 0; }

        li { padding-bottom: 1rem;
             list-style: none; }

        li a { color: #000000;
               text-decoration: none; }

        li a:hover { text-decoration: underline; }

        li.active { font-weight: bold; }
    }
}

article {
    margin-bottom: 4rem;
    padding-left: 1rem;

    > h1 {
        padding: 1rem;
        padding-top: 0.8em;
        font-size: 2em;
    }

    > .date, > .summary {
        padding: 0.8rem;
        padding-top: 0;
        padding-left: 0.5rem;

        margin-left: 0.5rem;

        font-size: 0.9rem;
        color: #484848;
    }

    /*
     * Right now, summary is the bottom-most element. If this changes in the
     * future, this will need to be updated. There might be a cleaner way to
     * handle this... not sure.
     */
    > .summary {

        //Prevents the underline from stretching across the whole screen.
        display: inline-block;

        margin-bottom: 3rem;

        border-color: #6e6e6e;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    section > h1 a {
        color: inherit;
        text-decoration: none;

        &:after {
            display: none;
        }
    }

    section {
        width: 100%;
        max-width: 40rem;
        @include font-primary();

        > * {
            line-height: 1.45;
            margin-top: 1em;
            margin-bottom: 0.5em;

            box-sizing: border-box;
            float: left;
            width: 100%;
        }

        em { padding-right: 0.1em; }

        aside {
            float: right;
            position: relative;

            line-height: 1.4;
            margin-right: -15.3rem;
            padding-left: 1rem;
            width: 12rem;

            font-size: 0.85rem;
            hyphens: auto;

            border-color: #6e6e6e;
            border-left-style: solid;
            border-width: 1px;


            &:before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;

                left: -0.8rem;
                top: 1.3rem;
                border-top: 0.5rem solid transparent;
                border-bottom: 0.5rem solid transparent;
                border-right: 0.8rem solid #6e6e6e;
            }

            ul {
                margin-left: 0em;
                padding-left: 1.2rem;
            }
        }

        .header {
            font-style: italic;
            margin-top: -1em;
        }

        &.footnotes {
            font-family: 'Source Serif Pro', 'Georgia', serif;
            font-style: italic;
            font-weight: 300;

            /* #!?X CSS, this allows element to take up space and positions it even though it's children are floated. */
            overflow: hidden;

            max-width: 100%;
            padding-top: 2em;

            h1 { padding-top: 0.5em;
                 border-top-style: solid;
                 border-top-width: 1px;
                 border-color: #6e6e6e; }

            p { margin-top: 0; }
        }

        h1 {

            font-size: 1.6em;
            padding-top: 1em;
            padding-bottom: 0em;

            a { color: inherit;
                text-decoration: none; }
        }

        ul {
            max-width: 35rem;
            li { padding-bottom: 0.5rem; }
        }

        .listingblock { font-size: 0.95rem; }

        /*
         * Better in-article links:
         *
         * There are two schools of thought here. The first is that this
         * approach is way too stinking subtle. The other is that links are not
         * meant to jump out of the article and you should only notice them as
         * you read.
         *
         * I'm not sure which one I subscribe to, but for now I'm going with the
         * subtle approach. I may tweak this in the future to be more obvious
         * (either putting a full-on background on links or changing their
         * color)
         *
         */
        :not(h1) a {
            text-decoration: none;

            //Links won't break between lines. Keep them SHORT!
            white-space: nowrap;
            color: inherit;

            //Consider adding &:focus here
            &:hover {
                border-radius: 1ex;
                background-color: #ff984166;
            }

            &:after {
                content: '';
                width: 0.6ex;
                height: 0.6ex;
                display: inline-block;
                margin-bottom: 1ex;
                margin-left: 0.1ex;

                border-style: solid;
                border-width: 0.15ex;
                border-radius: 50%;

                color: #e56d00;
            }
        }
    }
}

footer {
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;

    font-family: 'Source Serif Pro', 'Georgia', serif;
    font-weight: 300;

    /* #!?X CSS, this allows element to take up space and positions it even though it's children are floated. */
    overflow: hidden;

    margin: 0.2em;
    max-width: 100%;
    padding: 1em;

    * {
        color: rgb(250, 250, 250);
        text-decoration: none;
    }

    p { margin-top: 0;
        font-style: italic; }

    a {
        text-decoration: none;
        font-weight: bold;

        //Links won't break between lines. Keep them SHORT!
        white-space: nowrap;
        color: inherit;
        &:hover {
            color: #ff9841;
        }

        //Consider adding &:focus here
        /* &:hover { */
        /*     border-radius: 1ex; */
        /*     background-color: #ff984166; */
        /* } */

        /* &:after { */
        /*     content: ''; */
        /*     width: 0.6ex; */
        /*     height: 0.6ex; */
        /*     display: inline-block; */
        /*     margin-bottom: 1ex; */
        /*     margin-left: 0.1ex; */

        /*     border-style: solid; */
        /*     border-width: 0.15ex; */
        /*     border-radius: 50%; */

        /*     color: #e56d00; */
        /* } */
    }

    .footer-logo::before {
        content: '';
        background-image: url('/images/reset-hard-favicon.png');
        width: 1em;
        height: 1em;
        display: inline-block;
    }
}


@media only screen and (max-width: 65rem) {
    main {
        grid-template-columns: 0 auto 16rem;
        article nav { display: none; }
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    main {
        display: block;
        article {
            padding-right: 1rem;
            aside { display: none; }
            * { float: none; }

            // Chrome doesn't support auto-hyphenation, so justification looks *awful*.
            // For now, leave off. But consider adding in the future.
            // @supports (hyphens: auto) {
            //     * { text-align: justify;
            //         hyphens: auto; }
            // }
        }
    }
}

/* --------------- Global Classes ---------------- */

/*
 * Element exists for semantic reasons
 * but should not be visible.
 *
 * At the moment, hidden from _everyone_,
 * should be fixed to be visible to screen readers.
 */
.semantic {
    display: none;
}

.no-fot, .no-fot * {
    color: rgba(0,0,0,0) !important;
}

.highlight {
    overflow: auto;

    color: white;
    background-color: rgb(50, 50, 50);
    padding: 0.7em;
}

.imageblock {
    /*background-color: rgba(0, 0, 0, 0.2);*/
    padding: 0.5em;
    box-sizing: border-box;
}

.imageblock img {
    max-width: 100%;
}

.imageblock.full img {
    min-width: 65%;
}

.imageblock.pixel img {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    image-rendering: pixelated;                 // Chrome cares about this, I guess
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}

.videoblock video {
    max-width: 100%;
}

.imageblock .title {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 1em;
}
