@import "styles/base.style.scss";
@import "styles/badges.style.scss";

main {

    display: grid;
    grid-template-columns: 60% 40%;

    /*needs to be turned off for small screen sizes*/
    section {
        grid-column: 1/2;
    }

    section#content {
        h1 { display:none;}

        grid-column: 2/3;
        grid-row: 1/5;
    }
}

section {
    @include font-primary();
    padding-bottom: 1.5rem;
    margin: 0.2rem;


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

section > h1 a {
    color: inherit;
    text-decoration: none;
}

section > h1 {
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);

    text-transform: uppercase;

    padding: 0.5em;
    padding-left: 1em;
    box-sizing: border-box;
}

section > *:not(h1) {
    margin: 1em;
}

section > p {
    text-align: justify;
    hyphens: auto;
}

section#content {

    section { /*nested sections still have margins - fix from above */
        margin-bottom: 0;
    }

    .blog .list {
        li {
            * { margin: 0; }
            a { text-decoration: none;
                color: #000000; }

            margin-bottom: 1rem;
        }

        .title {
            color: #000000;
            font-size: 1.1rem;
        }

        a:hover .title {
            text-decoration: underline;
        }

        .date {
            color: #484848;
            font-size: 0.9rem;
            padding-bottom: 0.2rem;
        }

        .summary {
            font-size: 1rem;
            max-width: 23em;
        }
    }

    .devlog .list {
        column-width: 7rem;
        a { text-decoration: none;
            color: #000000; }

        li:hover {
            text-decoration: underline;
        }
    }
}

#banner {
    padding: 0;
    padding-top: 3em;
}

footer {
    background: rgb(10, 10, 10);
    grid-column: 1 / 3;
}

.contact li {
    float: left;
}

.contact li a {
    color: rgba(0, 0, 0, 0);
    display: block;
    height: 3em;
    padding: 1em;
    padding-right: 3em;
    width: 0;
}

.contact .gitlab::before {
    display: block;
    content: '';

    width: 3em;
    height: 3em;
    background-image: url('/images/gitlab-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact .github::before {
    display: block;
    content: '';

    width: 3em;
    height: 3em;
    background-image: url('/images/github-logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* --------------- Global Classes ---------------- */

/*
 * Element exists for semantic reasons
 * but should not be visible.
 *
 * At the moment, hidden from _everyone_,
 * should be fixed to be visible to screen readers.
 */
.semantic {
    display: none;
}

.no-fot, .no-fot * {
    color: rgba(0,0,0,0) !important;
}

/* For some reason this isn't working... I'll deal with it later.*/
/* Something stupid is happening with these breakpoints.*/
@media only screen and (max-width: 45em) {

    main {
        display: block;

        section#content h1 {
            display: block;
        }
    }
}
