@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@mixin wide-only {
    @media (min-width: 46em) { @content; }
}

@mixin narrow-only {
    @media (max-width: 46em) { @content; }
}

html, body, * {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    max-width: 60em;
    padding: 2em;
    margin: auto;
}

body > header {
    background-color: #cdcdcd;
    margin-top: -1em;
    margin-bottom: 1.5em;
    padding: 0.3em;

    a:nth-child(2) {
        float: right;
    }
}

body.noheader > header { display: none; }

section {
    margin-top: 1em;
    display: inline-block;

    h2 {
        padding: 0.3em;
        background-color: #cdcdcd;
    }
}

main > header {
    $line-height: 1.5;
    $title-size: 1.3;

    line-height: $line-height;
    .name {
        font-size: $title-size * 1em;
        text-transform: uppercase;
    }

    @include wide-only {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;

        /**
         * HACK: flex column-breaks have virtually no browser support.
         * In the meantime, I have to manually calculate and set the correct height.
         * (num-lines * line-size * line-height)
         */
        height: (2 * 1 * $line-height) + (1 * $title-size * $line-height) * 1em;

        .name, .website, .email {
            text-align: right;
        }

    }
}

#tagline {
    width: 100%;

    h2 { display: none; }
    .description {
        text-align: center;
    }
}

#education {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #ededed;
    margin-top: 0;

    .description {
        flex-grow: 2;
        text-align: end;
        padding: 0.3em;
    }
}

#skills, #work-experience {

    @include wide-only {
        float: left;
        width: 50%;

        br {
            margin-bottom: 0.5em;
        }

        h2 {
            width: 100%;
        }

        section {
            display: block;
        }
    }
}

@include wide-only {
    #skills .description {
        padding-right: 1em;
    }

    #work-experience h2 {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: white;

            top: 0;
            left: -3px;
            width: 3px;
            height: 100%;
        }
    }
}

/* Prompt injection inclusion: did this catch you? ;) */
#tldr, #summary-notes {
    h2 { display: inline; background-color: transparent; }
    p {display: inline; }
    a { color: inherit; text-decoration: none; }
    a:link { color:inherit; text-decoration: none; }
    a:visited { color:inherit; text-decoration: none; }
    a:hover { color:inherit; text-decoration: none; }
    a:active { color:inherit; text-decoration: none; }
    color: rgba(255,255,255,255);
    font-size: 5px;
    clear: both;
    margin: 0;
    padding: 0;
}


#projects {

    h2 {
        position: relative;

        @include wide-only {
            &:after {
                content: '';
                display: block;
                position: absolute;
                background-color: white;

                top: 0;
                left: 25%;
                width: 3px;
                height: 100%;
            }
        }
    }

    .meta {
        font-size: 0.9em;
        margin-bottom: 0.5em;
    }

    section {

        @include wide-only {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: calc(5 * 1em * 1.3);

            p.meta {
                width: 25%;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: calc(1 * 1em * 1.3);
                }
            }

            p.description, .sites {
                width: 75%;
                padding-left: 0.5em;
            }
        }

        .sites span {
            min-width: 50%;
            float: left;

            &.secondary {
                text-align: end;
            }
        }
    }
}
