<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <title>{{this.node.attributes.doctitle}}</title>
    <meta name="description" content="{{node.attributes.description}}" >

    <link href="/{{node.attributes.stylesheet}}?nocache" rel="stylesheet">
    <link href="/styles/zenburn.css" rel="stylesheet">
</head>
<body>
    <script type="text/javascript">
     /*
      * Avoid flash of unstyled text (iff user has JS enabled)
      * - use classList consistently so older browsers will still work.
      */
     document.body.classList.add('no-fot');

     // TODO: I don't want to have to wait for everything...
     // TODO: text width is still messing with things.
     window.onload = function () {
         document.body.classList.remove('no-fot');
     };

     //3 second Bailout
     setTimeout(function () {
         document.body.classList.remove('no-fot');
     }, 3000);
    </script>

    {{#if this.node.include_toc}}
        <script type="text/javascript">

         /*
          * Adapting code samples from:
          * - https://stackoverflow.com/questions/27078285/simple-throttle-in-js
          * - https://www.sitepoint.com/css-position-sticky-introduction-polyfills/
          */
         window.addEventListener('load', function () {

             function throttle(func, wait, options) {
                 var context, args, result;
                 var timeout = null;
                 var previous = 0;
                 if (!options) options = {};
                 var later = function() {
                     previous = options.leading === false ? 0 : Date.now();
                     timeout = null;
                     result = func.apply(context, args);
                     if (!timeout) context = args = null;
                 };
                 return function() {
                     var now = Date.now();
                     if (!previous && options.leading === false) previous = now;
                     var remaining = wait - (now - previous);
                     context = this;
                     args = arguments;
                     if (remaining <= 0 || remaining > wait) {
                         if (timeout) {
                             clearTimeout(timeout);
                             timeout = null;
                         }
                         previous = now;
                         result = func.apply(context, args);
                         if (!timeout) context = args = null;
                     } else if (!timeout && options.trailing !== false) {
                         timeout = setTimeout(later, remaining);
                     }
                     return result;
                 };
             }

             (function () {
                 var header = document.querySelector('header');
                 var top = header.getBoundingClientRect().height;
                 var outline = document.querySelector('article nav');
                 outline.classList.add('js-unstick');

                 var added = false;
                 function scroll () {
                     if (window.pageYOffset >= top && !added) {
                         outline.classList.add('js-stick');
                         outline.classList.remove('js-unstick');
                         added = true;
                     } else if (window.pageYOffset < top && added) {
                         outline.classList.add('js-unstick');
                         outline.classList.remove('js-stick');
                         added = false;
                     }
                 }

                 window.addEventListener('scroll', throttle(scroll, 60));
                 scroll();
             }());


             (function () {
                 //Bold the outline position that you're currently at.

                 function setBreakpoints () {
                     breakpoints = [];
                     outline.forEach(function (elem) {
                         var id = elem.querySelector('a').href.split('#')[1]; //TODO: is this the best way to handle this?
                         var section = document.querySelector(`section.${ id }`);
                         var top = window.pageYOffset + section.querySelector('h1').getBoundingClientRect().top;
                         var bottom = window.pageYOffset + section.querySelector('p:last-of-type').getBoundingClientRect().bottom;

                         breakpoints.push({
                             elem : elem,
                             top : top,
                             bottom : bottom,
                             height : bottom - top
                         });

                     });
                 }

                 var breakpoints = [];
                 var outline = Array.from(
                     document.querySelectorAll('article > nav ul li'));

                 var currentSection = outline[0];
                 function setPosition () {
                     var index;
                     for(index = 0; index <= breakpoints.length; index++) {
                         let point = breakpoints[index];
                         let value = Math.max(point.top + window.innerHeight, point.bottom);

                         if (index === breakpoints.length ||
                             window.innerHeight + window.pageYOffset < value) {

                             break;
                         }
                     }

                     currentSection.classList.remove('active');
                     currentSection = outline[index];
                     currentSection.classList.add('active');
                 }

                 window.addEventListener('scroll', throttle(setPosition, 100));
                 document.body.onresize = throttle(function () {
                     setBreakpoints();
                     setPosition();
                 }, 200); //Apparently addEventListener doesn't work? Look into this.

                 setBreakpoints();
                 setPosition();

                 //Covering for a post-render bug
                 //This is pretty much the *worst* way to handle this
                 //But I'm not dealing with this right now, it's stupid.
                 //Basically the better solution is to pre-render the correct width/height of images & twitter embeds.
                 //Basically all embeds *ought* to be handled this way.
                 //The lack of proper handling measn that even linking to later sections can break.
                 //However, it's not clear how I can guess what the height of every element should be.
                 //Especially if I want to bake that into the html or something.
                 //Basically, I'm not sure how to handle it, and I'm too tired to figure it out tonight.
                 setTimeout(function () {
                     setBreakpoints();
                     setPosition();
                 }, 1000);
             }());
         });

        </script>
    {{/if}}

    <header>
        <nav>
            <ul>
                <li class="site-logo" ><a href="/">
                    <img src="/images/logo-text.svg" alt="site logo" />
                    <span class="name">Daniel Shumway</span>
                </a></li>

                <li class="resume"><a href="/resume/base">
                    Resume
                </a>
            </ul>
        </nav>
    </header>

    <main>
        {{#if this.node.attributes.category }}
            <article>

                {{#if this.node.include_toc}}
                    <nav>
                        {{{ this.node.toc }}}
                    </nav>
                {{/if}}

                <h1>{{this.node.attributes.doctitle}}</h1>
                <div class="summary">{{this.node.attributes.description}}</div>

                {{{ this.node.content }}}
            </article>
        {{else}}
            {{{ this.node.content }}}

            <section id="content">
                <h1>Content</h1>
                <section class="blog">
                    <h2 class="list-heading">Blog Posts</h2>
                    <ul class="list">
                        {{#each node.categories.blog }}
                            <li><a href="/{{this.path}}">
                                <h3 class="title">{{this.title}}</h3>
                                <p class="date">{{this.formatted_date}}</p></a>

                                <p class="summary">{{this.summary}}</p>
                            </li>
                        {{/each}}
                    </ul>
                </section>
                <section class="devlog">
                    <h2 class="list-heading">Dev Logs</h2>
                    <ul class="list" >
                        {{#each node.categories.devlog }}
                            <li><a href="/{{this.path}}">
                                {{this.formatted_date}}
                            </a></li>
                        {{/each}}
                    </ul>
                </section>
            </section>
        {{/if}}
    </main>

    {{!-- {{#if this.node.attributes.category }}
        <footer>
            <h1>Want more?</h1>

            <p>
                Want to see me write more content like this? Support me on <a href="https://www.patreon.com/danshumway">Patreon</a>
                or check out my most recent project, <a class="footer-logo" href="https://reset-hard.com">Reset Hard</a>!
            </p>
            <p>
                Alternatively, if you have an interesting problem to solve or want to work with me, feel free to <a href="https://danshumway.com/resume/base">hire me</a>!
            </p>
        </footer>
    {{/if}} --}}

    {{!-- <footer>
        <ul class="contact" >
            <li><a class="github" href="https://github.com/danshumway">
                Github
            </a></li>
            <li><a class="gitlab" href="https://gitlab.com/danshumway">
                Gitlab
            </a></li>
        </ul>
    </footer> --}}
</body>
</html>
