ul.badges {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.badges li {
    float: left; }
    ul.badges li .badge {
      display: block;
      text-align: center;
      width: 4.5em;
      text-decoration: none;
      color: black;
      margin: 1em;
      margin-right: 0; }
  ul.badges .badge::before {
    box-sizing: border-box;
    display: block;
    content: '';
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    margin-bottom: 0.3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    border-color: rgba(78, 78, 78, 0.5);
    border-style: solid;
    border-width: 2px; }
  ul.badges .badge:hover::before {
    border-color: #4e4e4e; }
  ul.badges .distilled::before {
    background-image: url("/images/distilled-logo.png");
    background-color: #7e7e7e; }
  ul.badges .raise::before {
    background-image: url("/images/raise-logo.png"); }
  ul.badges .github::before {
    background-image: url("/images/github-logo.jpg"); }
  ul.badges .gitlab:before {
    background-image: url("/images/gitlab-logo.png"); }
  ul.badges .patreon:before {
    background-image: url("/images/patreon-logo.png");
    background-color: #f36854; }
  ul.badges .medium:before {
    background-image: url("/images/medium-logo.svg");
    background-color: black; }
  ul.badges .twitter:before {
    background-image: url("/images/twitter-logo.svg");
    background-color: #41a1f2; }
  ul.badges .liberapay:before {
    background-image: url("/images/liberapay-logo.svg");
    background-color: #f6ca15; }
  ul.badges .piglet:before {
    background-image: url("/images/piglet-logo.svg");
    background-color: #b3ff63; }
  ul.badges .reset-hard:before {
    background-image: url("/images/reset-hard-logo.png");
    background-color: #000000;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges; }
