@charset "UTF-8";
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Light.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Light.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Light.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Regular.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Regular.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Bold.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Bold.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/400.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF/heristica/400i.woff") format("woff"), url("/fonts/OTF/Heuristica-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/700.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

/* ----------- SITEWIDE VARIABLES--------------- */
/* ---------------- Mixins --------------------- */
/*
 * Scale is probably unnecessary here, because setting font-size on its own is
 * sufficient. But leave it for now. Maybe I'll want to do something special in
 * the future.
 */
/* ------------ Global Styles ------------------- */
html, body, h1, h2 {
  margin: 0;
  padding: 0; }

html {
  background-color: #fcfcfc;
  height: calc(100% - 0.2rem);
  margin: 0.1rem;
  width: calc(100% - 0.2rem); }

header {
  white-space: nowrap;
  background-color: #323232;
  box-sizing: border-box;
  border-style: solid;
  border-color: #2d2d2d;
  margin: 0.2em; }
  header * {
    color: #fafafa;
    text-decoration: none; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0.5em; }
  header nav {
    font-family: 'Heuristica', 'Georgia', serif;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-bottom: 0.75rem; }
      header nav ul .site-logo img {
        height: 5rem;
        bottom: -0.75rem;
        position: relative; }
      header nav ul .site-logo .name {
        font-size: 0;
        color: transparent;
        max-width: 0; }
      header nav ul .resume {
        margin-left: auto;
        padding-right: 5em; }

@media only screen and (max-width: 45rem) {
  header nav ul .resume {
    padding-right: 1em; } }

main {
  max-width: 80rem;
  margin: 0 auto; }

/*
 * Hanging quotes:
 *
 * These are fairly font-dependent and may need to be updated in the future.
 * Question -- how can I generalize these so that they're easy to update
 * when used with other fonts?
 *
 * Probably set them as a mixin? Pass in the font somehow?
 */
.quote {
  position: relative;
  color: transparent; }

.quote:after {
  speak: none;
  pointer-events: none;
  color: #000000;
  display: inline;
  position: relative; }

.quote.single-open:after {
  content: '‘';
  margin-left: -0.3ex; }

.quote.single-close:after {
  content: '’';
  margin-left: -0.5ex; }

.quote.double-open:after {
  content: '“';
  margin-left: -0.9ex; }

.quote.double-close:after {
  content: '”';
  margin-left: -0.9ex; }

.quote.double-open {
  margin-left: -0.6ex;
  margin-right: 0.1ex; }

.double-push {
  margin-right: 0.7ex;
  display: inline-block; }
