@charset "UTF-8";
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Light.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Light.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Light.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Regular.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Regular.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Bold.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Bold.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/400.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF/heristica/400i.woff") format("woff"), url("/fonts/OTF/Heuristica-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/700.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

/* ----------- SITEWIDE VARIABLES--------------- */
/* ---------------- Mixins --------------------- */
/*
 * Scale is probably unnecessary here, because setting font-size on its own is
 * sufficient. But leave it for now. Maybe I'll want to do something special in
 * the future.
 */
/* ------------ Global Styles ------------------- */
html, body, h1, h2 {
  margin: 0;
  padding: 0; }

html {
  background-color: #fcfcfc;
  height: calc(100% - 0.2rem);
  margin: 0.1rem;
  width: calc(100% - 0.2rem); }

header {
  white-space: nowrap;
  background-color: #323232;
  box-sizing: border-box;
  border-style: solid;
  border-color: #2d2d2d;
  margin: 0.2em; }
  header * {
    color: #fafafa;
    text-decoration: none; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0.5em; }
  header nav {
    font-family: 'Heuristica', 'Georgia', serif;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-bottom: 0.75rem; }
      header nav ul .site-logo img {
        height: 5rem;
        bottom: -0.75rem;
        position: relative; }
      header nav ul .site-logo .name {
        font-size: 0;
        color: transparent;
        max-width: 0; }
      header nav ul .resume {
        margin-left: auto;
        padding-right: 5em; }

@media only screen and (max-width: 45rem) {
  header nav ul .resume {
    padding-right: 1em; } }

main {
  max-width: 80rem;
  margin: 0 auto; }

/*
 * Hanging quotes:
 *
 * These are fairly font-dependent and may need to be updated in the future.
 * Question -- how can I generalize these so that they're easy to update
 * when used with other fonts?
 *
 * Probably set them as a mixin? Pass in the font somehow?
 */
.quote {
  position: relative;
  color: transparent; }

.quote:after {
  speak: none;
  pointer-events: none;
  color: #000000;
  display: inline;
  position: relative; }

.quote.single-open:after {
  content: '‘';
  margin-left: -0.3ex; }

.quote.single-close:after {
  content: '’';
  margin-left: -0.5ex; }

.quote.double-open:after {
  content: '“';
  margin-left: -0.9ex; }

.quote.double-close:after {
  content: '”';
  margin-left: -0.9ex; }

.quote.double-open {
  margin-left: -0.6ex;
  margin-right: 0.1ex; }

.double-push {
  margin-right: 0.7ex;
  display: inline-block; }

main {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 14rem auto 16rem; }
  main article {
    grid-column: 2; }
  main article nav {
    margin-left: -14rem;
    margin-top: 0.5rem;
    position: fixed;
    /*
         * For JS users: - correctly positions the element at the top of the
         * screen once the main nav is offscreen.
         */
    text-align: right;
    width: 11rem;
    padding-right: 1rem;
    border-right-style: solid;
    border-width: 1px;
    border-color: #6e6e6e; }
    main article nav.js-unstick {
      position: absolute; }
    main article nav.js-stick {
      top: 0;
      position: fixed; }
    main article nav ul {
      padding: 0; }
    main article nav li {
      padding-bottom: 1rem;
      list-style: none; }
    main article nav li a {
      color: #000000;
      text-decoration: none; }
    main article nav li a:hover {
      text-decoration: underline; }
    main article nav li.active {
      font-weight: bold; }

article {
  margin-bottom: 4rem;
  padding-left: 1rem;
  /*
     * Right now, summary is the bottom-most element. If this changes in the
     * future, this will need to be updated. There might be a cleaner way to
     * handle this... not sure.
     */ }
  article > h1 {
    padding: 1rem;
    padding-top: 0.8em;
    font-size: 2em; }
  article > .date, article > .summary {
    padding: 0.8rem;
    padding-top: 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #484848; }
  article > .summary {
    display: inline-block;
    margin-bottom: 3rem;
    border-color: #6e6e6e;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  article section > h1 a {
    color: inherit;
    text-decoration: none; }
    article section > h1 a:after {
      display: none; }
  article section {
    width: 100%;
    max-width: 40rem;
    font-family: 'Heuristica', 'Georgia', serif;
    color: #1e1515;
    font-size: 1.1rem;
    line-height: 1.4;
    font-style: normal;
    /*
         * Better in-article links:
         *
         * There are two schools of thought here. The first is that this
         * approach is way too stinking subtle. The other is that links are not
         * meant to jump out of the article and you should only notice them as
         * you read.
         *
         * I'm not sure which one I subscribe to, but for now I'm going with the
         * subtle approach. I may tweak this in the future to be more obvious
         * (either putting a full-on background on links or changing their
         * color)
         *
         */ }
    article section > * {
      line-height: 1.45;
      margin-top: 1em;
      margin-bottom: 0.5em;
      box-sizing: border-box;
      float: left;
      width: 100%; }
    article section em {
      padding-right: 0.1em; }
    article section aside {
      float: right;
      position: relative;
      line-height: 1.4;
      margin-right: -15.3rem;
      padding-left: 1rem;
      width: 12rem;
      font-size: 0.85rem;
      hyphens: auto;
      border-color: #6e6e6e;
      border-left-style: solid;
      border-width: 1px; }
      article section aside:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: -0.8rem;
        top: 1.3rem;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-right: 0.8rem solid #6e6e6e; }
      article section aside ul {
        margin-left: 0em;
        padding-left: 1.2rem; }
    article section .header {
      font-style: italic;
      margin-top: -1em; }
    article section.footnotes {
      font-family: 'Source Serif Pro', 'Georgia', serif;
      font-style: italic;
      font-weight: 300;
      /* #!?X CSS, this allows element to take up space and positions it even though it's children are floated. */
      overflow: hidden;
      max-width: 100%;
      padding-top: 2em; }
      article section.footnotes h1 {
        padding-top: 0.5em;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: #6e6e6e; }
      article section.footnotes p {
        margin-top: 0; }
    article section h1 {
      font-size: 1.6em;
      padding-top: 1em;
      padding-bottom: 0em; }
      article section h1 a {
        color: inherit;
        text-decoration: none; }
    article section ul {
      max-width: 35rem; }
      article section ul li {
        padding-bottom: 0.5rem; }
    article section .listingblock {
      font-size: 0.95rem; }
    article section :not(h1) a {
      text-decoration: none;
      white-space: nowrap;
      color: inherit; }
      article section :not(h1) a:hover {
        border-radius: 1ex;
        background-color: #ff984166; }
      article section :not(h1) a:after {
        content: '';
        width: 0.6ex;
        height: 0.6ex;
        display: inline-block;
        margin-bottom: 1ex;
        margin-left: 0.1ex;
        border-style: solid;
        border-width: 0.15ex;
        border-radius: 50%;
        color: #e56d00; }

footer {
  background-color: #323232;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', 'Georgia', serif;
  font-weight: 300;
  /* #!?X CSS, this allows element to take up space and positions it even though it's children are floated. */
  overflow: hidden;
  margin: 0.2em;
  max-width: 100%;
  padding: 1em; }
  footer * {
    color: #fafafa;
    text-decoration: none; }
  footer p {
    margin-top: 0;
    font-style: italic; }
  footer a {
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: inherit;
    /* &:hover { */
    /*     border-radius: 1ex; */
    /*     background-color: #ff984166; */
    /* } */
    /* &:after { */
    /*     content: ''; */
    /*     width: 0.6ex; */
    /*     height: 0.6ex; */
    /*     display: inline-block; */
    /*     margin-bottom: 1ex; */
    /*     margin-left: 0.1ex; */
    /*     border-style: solid; */
    /*     border-width: 0.15ex; */
    /*     border-radius: 50%; */
    /*     color: #e56d00; */
    /* } */ }
    footer a:hover {
      color: #ff9841; }
  footer .footer-logo::before {
    content: '';
    background-image: url("/images/reset-hard-favicon.png");
    width: 1em;
    height: 1em;
    display: inline-block; }

@media only screen and (max-width: 65rem) {
  main {
    grid-template-columns: 0 auto 16rem; }
    main article nav {
      display: none; } }

@media only screen and (max-width: 45rem) {
  main {
    display: block; }
    main article {
      padding-right: 1rem; }
      main article aside {
        display: none; }
      main article * {
        float: none; } }

/* --------------- Global Classes ---------------- */
/*
 * Element exists for semantic reasons
 * but should not be visible.
 *
 * At the moment, hidden from _everyone_,
 * should be fixed to be visible to screen readers.
 */
.semantic {
  display: none; }

.no-fot, .no-fot * {
  color: transparent !important; }

.highlight {
  overflow: auto;
  color: white;
  background-color: #323232;
  padding: 0.7em; }

.imageblock {
  /*background-color: rgba(0, 0, 0, 0.2);*/
  padding: 0.5em;
  box-sizing: border-box; }

.imageblock img {
  max-width: 100%; }

.imageblock.full img {
  min-width: 65%; }

.imageblock.pixel img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; }

.videoblock video {
  max-width: 100%; }

.imageblock .title {
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 1em; }
