@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Light.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Light.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Light.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Regular.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Regular.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Bold.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Bold.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/400.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF/heristica/400i.woff") format("woff"), url("/fonts/OTF/Heuristica-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/700.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }
