@charset "UTF-8";
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Light.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Light.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Light.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Regular.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Regular.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/EOT/SourceSerifPro-Bold.eot") format("embedded-opentype"), url("/fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff") format("woff"), url("/fonts/OTF/SourceSerifPro-Bold.otf") format("opentype"), url("/fonts/TTF/SourceSerifPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/400.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF/heristica/400i.woff") format("woff"), url("/fonts/OTF/Heuristica-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Heuristica';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF/heuristica/700.woff") format("woff"), url("/fonts/OTF/Heuristica-Bold.otf") format("opentype"); }

/* ----------- SITEWIDE VARIABLES--------------- */
/* ---------------- Mixins --------------------- */
/*
 * Scale is probably unnecessary here, because setting font-size on its own is
 * sufficient. But leave it for now. Maybe I'll want to do something special in
 * the future.
 */
/* ------------ Global Styles ------------------- */
html, body, h1, h2 {
  margin: 0;
  padding: 0; }

html {
  background-color: #fcfcfc;
  height: calc(100% - 0.2rem);
  margin: 0.1rem;
  width: calc(100% - 0.2rem); }

header {
  white-space: nowrap;
  background-color: #323232;
  box-sizing: border-box;
  border-style: solid;
  border-color: #2d2d2d;
  margin: 0.2em; }
  header * {
    color: #fafafa;
    text-decoration: none; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0.5em; }
  header nav {
    font-family: 'Heuristica', 'Georgia', serif;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-bottom: 0.75rem; }
      header nav ul .site-logo img {
        height: 5rem;
        bottom: -0.75rem;
        position: relative; }
      header nav ul .site-logo .name {
        font-size: 0;
        color: transparent;
        max-width: 0; }
      header nav ul .resume {
        margin-left: auto;
        padding-right: 5em; }

@media only screen and (max-width: 45rem) {
  header nav ul .resume {
    padding-right: 1em; } }

main {
  max-width: 80rem;
  margin: 0 auto; }

/*
 * Hanging quotes:
 *
 * These are fairly font-dependent and may need to be updated in the future.
 * Question -- how can I generalize these so that they're easy to update
 * when used with other fonts?
 *
 * Probably set them as a mixin? Pass in the font somehow?
 */
.quote {
  position: relative;
  color: transparent; }

.quote:after {
  speak: none;
  pointer-events: none;
  color: #000000;
  display: inline;
  position: relative; }

.quote.single-open:after {
  content: '‘';
  margin-left: -0.3ex; }

.quote.single-close:after {
  content: '’';
  margin-left: -0.5ex; }

.quote.double-open:after {
  content: '“';
  margin-left: -0.9ex; }

.quote.double-close:after {
  content: '”';
  margin-left: -0.9ex; }

.quote.double-open {
  margin-left: -0.6ex;
  margin-right: 0.1ex; }

.double-push {
  margin-right: 0.7ex;
  display: inline-block; }

ul.badges {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.badges li {
    float: left; }
    ul.badges li .badge {
      display: block;
      text-align: center;
      width: 4.5em;
      text-decoration: none;
      color: black;
      margin: 1em;
      margin-right: 0; }
  ul.badges .badge::before {
    box-sizing: border-box;
    display: block;
    content: '';
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    margin-bottom: 0.3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    border-color: rgba(78, 78, 78, 0.5);
    border-style: solid;
    border-width: 2px; }
  ul.badges .badge:hover::before {
    border-color: #4e4e4e; }
  ul.badges .distilled::before {
    background-image: url("/images/distilled-logo.png");
    background-color: #7e7e7e; }
  ul.badges .raise::before {
    background-image: url("/images/raise-logo.png"); }
  ul.badges .github::before {
    background-image: url("/images/github-logo.jpg"); }
  ul.badges .gitlab:before {
    background-image: url("/images/gitlab-logo.png"); }
  ul.badges .patreon:before {
    background-image: url("/images/patreon-logo.png");
    background-color: #f36854; }
  ul.badges .medium:before {
    background-image: url("/images/medium-logo.svg");
    background-color: black; }
  ul.badges .twitter:before {
    background-image: url("/images/twitter-logo.svg");
    background-color: #41a1f2; }
  ul.badges .liberapay:before {
    background-image: url("/images/liberapay-logo.svg");
    background-color: #f6ca15; }
  ul.badges .piglet:before {
    background-image: url("/images/piglet-logo.svg");
    background-color: #b3ff63; }
  ul.badges .reset-hard:before {
    background-image: url("/images/reset-hard-logo.png");
    background-color: #000000;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges; }

main {
  display: grid;
  grid-template-columns: 60% 40%;
  /*needs to be turned off for small screen sizes*/ }
  main section {
    grid-column: 1/2; }
  main section#content {
    grid-column: 2/3;
    grid-row: 1/5; }
    main section#content h1 {
      display: none; }

section {
  font-family: 'Heuristica', 'Georgia', serif;
  color: #1e1515;
  font-size: 1.1rem;
  line-height: 1.4;
  font-style: normal;
  padding-bottom: 1.5rem;
  margin: 0.2rem; }
  section ul {
    margin: 0;
    padding: 0;
    list-style: none; }

section > h1 a {
  color: inherit;
  text-decoration: none; }

section > h1 {
  color: #fafafa;
  background-color: #323232;
  text-transform: uppercase;
  padding: 0.5em;
  padding-left: 1em;
  box-sizing: border-box; }

section > *:not(h1) {
  margin: 1em; }

section > p {
  text-align: justify;
  hyphens: auto; }

section#content section {
  /*nested sections still have margins - fix from above */
  margin-bottom: 0; }

section#content .blog .list li {
  margin-bottom: 1rem; }
  section#content .blog .list li * {
    margin: 0; }
  section#content .blog .list li a {
    text-decoration: none;
    color: #000000; }

section#content .blog .list .title {
  color: #000000;
  font-size: 1.1rem; }

section#content .blog .list a:hover .title {
  text-decoration: underline; }

section#content .blog .list .date {
  color: #484848;
  font-size: 0.9rem;
  padding-bottom: 0.2rem; }

section#content .blog .list .summary {
  font-size: 1rem;
  max-width: 23em; }

section#content .devlog .list {
  column-width: 7rem; }
  section#content .devlog .list a {
    text-decoration: none;
    color: #000000; }
  section#content .devlog .list li:hover {
    text-decoration: underline; }

#banner {
  padding: 0;
  padding-top: 3em; }

footer {
  background: #0a0a0a;
  grid-column: 1 / 3; }

.contact li {
  float: left; }

.contact li a {
  color: transparent;
  display: block;
  height: 3em;
  padding: 1em;
  padding-right: 3em;
  width: 0; }

.contact .gitlab::before {
  display: block;
  content: '';
  width: 3em;
  height: 3em;
  background-image: url("/images/gitlab-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.contact .github::before {
  display: block;
  content: '';
  width: 3em;
  height: 3em;
  background-image: url("/images/github-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

/* --------------- Global Classes ---------------- */
/*
 * Element exists for semantic reasons
 * but should not be visible.
 *
 * At the moment, hidden from _everyone_,
 * should be fixed to be visible to screen readers.
 */
.semantic {
  display: none; }

.no-fot, .no-fot * {
  color: transparent !important; }

/* For some reason this isn't working... I'll deal with it later.*/
/* Something stupid is happening with these breakpoints.*/
@media only screen and (max-width: 45em) {
  main {
    display: block; }
    main section#content h1 {
      display: block; } }
