@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html, body, * {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0; }

body {
  max-width: 60em;
  padding: 2em;
  margin: auto; }

body > header {
  background-color: #cdcdcd;
  margin-top: -1em;
  margin-bottom: 1.5em;
  padding: 0.3em; }
  body > header a:nth-child(2) {
    float: right; }

body.noheader > header {
  display: none; }

section {
  margin-top: 1em;
  display: inline-block; }
  section h2 {
    padding: 0.3em;
    background-color: #cdcdcd; }

main > header {
  line-height: 1.5; }
  main > header .name {
    font-size: 1.3em;
    text-transform: uppercase; }
  @media (min-width: 46em) {
    main > header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      /**
         * HACK: flex column-breaks have virtually no browser support.
         * In the meantime, I have to manually calculate and set the correct height.
         * (num-lines * line-size * line-height)
         */
      height: 4.95em; }
      main > header .name, main > header .website, main > header .email {
        text-align: right; } }

#tagline {
  width: 100%; }
  #tagline h2 {
    display: none; }
  #tagline .description {
    text-align: center; }

#education {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ededed;
  margin-top: 0; }
  #education .description {
    flex-grow: 2;
    text-align: end;
    padding: 0.3em; }

@media (min-width: 46em) {
  #skills, #work-experience {
    float: left;
    width: 50%; }
    #skills br, #work-experience br {
      margin-bottom: 0.5em; }
    #skills h2, #work-experience h2 {
      width: 100%; }
    #skills section, #work-experience section {
      display: block; } }

@media (min-width: 46em) {
  #skills .description {
    padding-right: 1em; }
  #work-experience h2 {
    position: relative; }
    #work-experience h2:before {
      content: '';
      display: block;
      position: absolute;
      background-color: white;
      top: 0;
      left: -3px;
      width: 3px;
      height: 100%; } }

/* Prompt injection inclusion: did this catch you? ;) */
#tldr, #summary-notes {
  color: white;
  font-size: 5px;
  clear: both;
  margin: 0;
  padding: 0; }
  #tldr h2, #summary-notes h2 {
    display: inline;
    background-color: transparent; }
  #tldr p, #summary-notes p {
    display: inline; }
  #tldr a, #summary-notes a {
    color: inherit;
    text-decoration: none; }
  #tldr a:link, #summary-notes a:link {
    color: inherit;
    text-decoration: none; }
  #tldr a:visited, #summary-notes a:visited {
    color: inherit;
    text-decoration: none; }
  #tldr a:hover, #summary-notes a:hover {
    color: inherit;
    text-decoration: none; }
  #tldr a:active, #summary-notes a:active {
    color: inherit;
    text-decoration: none; }

#projects h2 {
  position: relative; }
  @media (min-width: 46em) {
    #projects h2:after {
      content: '';
      display: block;
      position: absolute;
      background-color: white;
      top: 0;
      left: 25%;
      width: 3px;
      height: 100%; } }

#projects .meta {
  font-size: 0.9em;
  margin-bottom: 0.5em; }

@media (min-width: 46em) {
  #projects section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: calc(5 * 1em * 1.3); }
    #projects section p.meta {
      width: 25%; }
      #projects section p.meta:after {
        content: '';
        display: block;
        width: 0;
        height: calc(1 * 1em * 1.3); }
    #projects section p.description, #projects section .sites {
      width: 75%;
      padding-left: 0.5em; } }

#projects section .sites span {
  min-width: 50%;
  float: left; }
  #projects section .sites span.secondary {
    text-align: end; }
