<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <title>{{this.node.attributes.doctitle}}</title>
    <meta name="description" content="{{node.attributes.description}}" >

    <link href="/{{node.attributes.stylesheet}}?nocache" rel="stylesheet">
</head>
<body>
    <script type="text/javascript">
     /*
      * Avoid flash of unstyled text (iff user has JS enabled)
      * - use classList consistently so older browsers will still work.
      */
     document.body.classList.add('no-fot');

     // TODO: I don't want to have to wait for everything...
     // TODO: text width is still messing with things.
     window.onload = function () {
         document.body.classList.remove('no-fot');
     };

     //3 second Bailout
     setTimeout(function () {
         document.body.classList.remove('no-fot');
     }, 3000);
    </script>

    <script type="text/javascript">
     window.addEventListener("load", function () {
         var params = new URLSearchParams(window.location.search);

         if (params.has('noheader')) {
             document.body.classList.add('noheader');
         }
     });
    </script>

    <header>
        <a href="./danshumway-resume.pdf">PDF Download</a>
        <a href="https://gitlab.com/danShumway/site/tree/master/source/resume">View Source</a>
    </header>

    <main>
        {{{ this.node.content }}}
    </main>
</body>
</html>
